.library-bg{
  background: linear-gradient(25deg, rgba(230,234,255,1) 40%, rgba(250,244,248,1) 100%);
  min-height: 100vh;
}
#my-library{
  width: fit-content;
  top: 55px;
  left: 4%;
  position: absolute;
  margin-top: 0;
}
#my-library p a, #back-library p a{
  color: black;
}
#my-library:hover > img, #back-library:hover > img{
  cursor: pointer;
  transform: translateX(-30px);
}
.title-container{
  display: flex;
  width: fit-content;
  align-items: center;
}
.title-container svg{
  width: 28px;
  height: 28px;
  padding: 0 20px;
}
.title-container:hover{
  cursor: pointer;
}
.title-container:hover > svg{
  fill:  #628BFF;
}
.list-row{
  display: grid;
  grid-template-columns: repeat(20, 260px);
  grid-gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 20px 40px;
}
.list-row::-webkit-scrollbar {
  width: 0;
}
.list-item{
  width: 200px;
  background-color: rgba(255,255,255,0.6);
  padding: 30px 30px 20px;
  border-radius: 20px;
}
.list-item:hover{
  cursor: pointer;
}
.list-item img{
  box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);;
}
li{
  list-style-type: none;
  text-align: center;
}
li p, .list-headings p{
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}
#lib-title{
  max-height: 60px;
  overflow: hidden;
}
li p:nth-child(2), .list-headings p:nth-child(2){
  font-weight: 400;
}
.add-note{
  height: 28px;
}
.add-note svg:hover{
  cursor: pointer;
  fill:#B2B2B2;
}
#list-title, .note-title{
  margin-left: 70px;
  font-family: permanent-marker, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #628BFF;
}
.note-title{
  margin: 0;;
}
.note-title span{
  font-style: italic;
  font-weight: 900;
}
.grid-container{
  margin: 30px 0 60px;
  position: relative;
}
.list-headings{
  height: 100px;
  place-self: end;
}
#arrow-right-library{
  position: absolute;
  top: 50%;
  right: 70px;
  z-index: 1;
}
#arrow-right-library:hover{
  background-color: rgba(0,0,0,0.2);
}
#results{
  text-align: center;
  display: none;
}
/* LIST ITEM STYLES */
#back-library{
  position: sticky;
  margin: 55px 0 50px 4%;
  width: fit-content;
  z-index: 3;
}
.item-body{
  display: flex;
  padding: 20px 0;
}
.item-view{
  padding: 0 40px;
}
#item-title{
  font-size: 28px;
  font-weight: 700;
  margin: 15px 30px;
}
#single-item{
  display: flex;
  flex-direction: column;
  place-items: center;
}
.text-main svg{
  width: 24px;
  height: 24px;
}
.text-main svg:hover{
  fill: black;
  cursor: pointer;
}
.delete-item{
 height: 28px;
}
.delete-item, .add-note{
  padding: 0 5px;
}
.delete-item svg, .add-note svg{
  width: 30px;
  height: 30px;
}
.delete-item:hover > svg g, .add-note:hover svg g{
  stroke: #666666;
}
.delete-item:hover > svg g path, .add-note:hover svg g path{
  fill: #666666;
  stroke: none;
}
.icon-container{
  display: flex;
  justify-content: center;
  margin: 8px 0;
  visibility: hidden;
  position: relative;
  bottom: -10px;
}
.delete-item svg:hover g, .delete-item svg:hover{
 cursor: pointer;
}

/* DETAILS PAGE STYLES */
.details-container{
  padding: 0 40px;
  width: auto;
}
textarea, input, input:focus, input:active{
  border: none;
  outline: none;
}
textarea{
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 20px;
}
.input-container{
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.new-note-title{
  font-size: 22px;
  font-weight: 600;
  background-color: rgba(255,255,255,0);
}
.new-note-p{
  margin-top: 20px;
  font-size: 16px;
}
.enter-new-note{
  padding: 20px 40px 100px;
}
#saveBtn{
  background-color: white;
  color: #2D2D2D;
}
.save-button{
  display: flex;
  justify-content: flex-end;
}
#note-container{
  position: absolute;
  top: 0;
}
.saved-notes-container{
  padding: 20px 40px;
}
#note-book-details{
  padding-bottom: 60px;
  text-align: center;
}
#note-book-details:hover{
  cursor: auto;
}
.notes-body-container{
  width: 65%;
}
.notes-section{
  display: flex;
  margin: 60px 0;
}
.notes-section div:nth-child(1){
  width: 95%;
}
.notes-section svg{
  width: 26px;
  height: 26px;
  align-self: flex-end;
}
.edit-note{
  width: 16px !important;
}
.notes-section:hover > .note-icons{
  visibility: visible;
  cursor: pointer;
}
.note-icons{
  align-items: flex-end;
}