body{
  margin: 0;
  position: relative;
}
p, label, #input, #submitBtn, #addToList, #formBtn, .editBtn, .new-note-title, textarea, li, h3{
  font-family: futura-pt, sans-serif;
  margin: 0;
}
#addToList:hover, #formBtn:hover{
background-color: #2D2D2D;
}
.search-result-container{
  display: none;
}
.book-s-container{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
}
#no-result{
  text-align: center;
  font-size: 18px;
}
.title-search-container{
  display: flex;
  width: 40%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.6);
  border-radius: 30px;
  min-width: 600px;
}
.image-container{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 0 0 30px;
}
#image, #addForm-cover{
  box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}
.text-container{
  width: 60%;
  background-color:white;
  padding: 30px;
  border-radius: 30px 30px 30px 0;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
}
#title{
  font-size: 32px;
  font-weight: 600;
}
#author{
  font-size: 14px;
  margin-top: 5px;
}
#subtitle{
  font-size: 20px;
  margin: 30px 0;
}
#quote{
  font-size: 16px;
  margin-bottom: 30px;
}
.search-result-container{
  position: absolute;
  width: 100%;
  height: 75vh;
  top: 15%;
  flex-direction: column;
  display: none;
  place-content: center;
}
#index-body{
  overflow-y: hidden;
}
/* Search Bar */
.search-container{
  width: 370px;
  display: flex;
  justify-self: center;
  position: relative;
}
.search-bar{
  width: 100%;
  margin: 40px 0;
  border-radius: 30px;
  height: 40px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border: .1px solid white;
  z-index: 5;
}
.search-bar:hover{
  border: .1px solid #e7cdff;
}
.search-bar:hover + .search-bg{
  background: linear-gradient(196deg, rgba(255,108,206,.1) 0%, rgba(158,60,249,.1) 50%, rgba(255,108,206,.1) 100%);
  height: 56px;
  width: 386px;
  top: 33px;
  left: -8px;
}
.search-bg{
  background: linear-gradient(196deg, rgba(255,108,206,0) 0%, rgba(158,60,249,0) 50%, rgba(255,108,206,0) 100%);
  height: 41px;
  width: 370px;
  position: absolute;
  top: 40px;
  border-radius: 60px;
  left: 0;
  transition: height .4s, width .4s, top .4s, left .4s;
}
#input{
  outline: none;
  border-radius: 30px;
  width: 230px;
  border: white;
  font-size: 16px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
#searchLibrary input{
  padding: 0;
}
#submitBtn, .addBtn{
  border-radius: 30px;
  width: 60px;
  height: 40px;
  border: none;
  background-color: white;
}
button img{
  width: 16px;
}
#submitBtn:hover, .addBtn:hover{
  cursor: pointer;
}
#submitBtn:active, #submitBtn:focus, .addBtn:active, .addBtn:focus{
    outline: none;
}
.arrows{
  width: 10px;
}
#arrow-left-contain{
  visibility: hidden;
}
.arrow-container{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.arrow-container:hover{
  background-color:rgba(0,0,0,0.1);
  border-radius: 50%;
  cursor: pointer;
}
.add-book{
text-align: center;
padding-top: 40px;
}
#addToList{
  box-shadow: 2px 2px 20px rgba(0,0,0,0.16);
  border-radius: 30px;
  width: 160px;
  height: 46px;
  background-color: #3d3d3d;
  color: white;
  font-weight: 600;
}
.slide-bar{
  width: 90px;
  height: 6px;
  background-color: #CCD3E5;
  border-radius: 10px;
}
.inside-bar{
  width: 30px;
  height: 6px;
  background-color: #9298A4;
  border-radius: 10px;
}
.slideRight{
  animation: sRight 1s ease-out 1 forwards;
  position: relative;
}
@keyframes sRight{
  0% {left: 0px;}
  100% {left: 30px;}
}
.slideLeft{
  animation: sLeft 1s ease-out 1 forwards;
  position: relative;
}
@keyframes sLeft{
  0% {left: 30px;}
  100% {left: 0px;}
}

/*LANDING PAGE STYLES */
.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.library{
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
}
.library:hover{
  cursor: pointer;
}
.library p span{
  font-weight: 400;
}
.library p a, .logout a{
  color: black;
  text-decoration: none;
}
.library p, .logout a{
  font-size: 16px;
  font-weight: 600;
}
.logout{
  z-index: 100;
  top: 55px;
  right: 8%;
  position: absolute;
}
.intro-container{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  height: 100vh;
  background: linear-gradient(90deg, rgba(233,252,255,1) 0%, rgba(250,244,255,1) 100%);
  overflow: hidden;
}
/* LANDING PAGE GRID STYLES */
.cover-img{
  mix-blend-mode: overlay;
  grid-row: 3;
  width: 740px;
  grid-column: 2;
  position: relative;
  left: -250%;
  transform: rotate(10deg);
  transition: transform 1s, left 1s;
  z-index: 100;
}
.white-bg{
  top: -100%;
  right: 40%;
  width: 160%;
  position: relative;
  opacity: 80%;
  transform: scaleX(-1);
}
.bg-white-container{
  grid-column: 5;
  grid-row: 1;
  width: 120%;
}
.bg-white-container-two{
  grid-column: 4;
  grid-row: 3;
  width: 180%;
}
.white-bg-two{
  width: 140%;
}
.descript-txt{
  height: 160px;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
  z-index: 2;
}
#second{
  margin-left: 100px;
}
.home-descript{
  font-size: 48px;
  font-family: futura-pt;
  transition: top .8s ease;
  top: 150px;
  position: relative;
  font-weight: 500;
}
.home-descript.two{
  transition: top .8s ease .1s;
}
.home-descript span{
  color: #6A20FF;
}
.search-container{
  grid-column: 3;
  grid-row: 1;
  z-index: 2;
  margin: 0 auto;
}
#descript{
  font-size: 14px;
  width: 150px;
  margin-top: 20px;
}
#nav-library{
  width: fit-content;
  margin-top: 50px;
  height: fit-content;
  grid-column: 5;
  grid-row: 1;
  justify-self: center;
  z-index: 2;
}
#hand-one{
  width: 400px;
  margin-top: 100px;
}
.bg-cover-container{
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 100vh;
  left: -25%;
}
.bg-cover-container embed{
  width: 100%;
}
